html {
    background-color: #FAF6CE;
    color: #000000;
    font-family: "Roboto Mono", monospace;
    font-weight: bolder;
}

.animate {
    white-space: pre-wrap;
    font-size: 50%;
    font-size: clamp(0.3em, 0.5vw, 0.5em);
}